*.a
*.app
*.cmd
*.d
*.dSYM/
*.dll
*.dylib
*.elf
*.exe
*.exp
*.gch
*.hex
*.i*86
*.idb
*.ilk
*.key
*.ko
*.la
*.lib
*.lo
*.map
*.mod*
*.o
*.obj
*.out
*.pch
*.pdb
*.so
*.so.*
*.su
*.x86_64
*~
.tmp_versions/
.vscode
Mkfile.old
Module.symvers
dkms.conf
dsvpn
key
modules.order
zig-out
zig-cache
